<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body class="first-landing">
  <%- include('./partials/_navbar.ejs') %>

  <div class="promo-bar-main">Special Offer! Get 20% off on your first purchase.</div>
  <div class="landing-container">
    <h1 class="landing-header-main">Welcome to Bubish</h1>
    <p class="opening-line">Elevate your style with our exclusive collection</p>
    <a href="/auth/sign-in" class="call-to-action">Start Exploring</a>
  </div>

</body>
</html>
